<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drinker.watchdog">

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".WatchDogService"
            android:enabled="true"
            android:exported="false"
            android:process=".watchdog">
            <intent-filter>
                <action android:name="android.intent.action.drinkerpush.ACTIVE"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".WatchdogReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=".watchdog"></receiver>

        <service
            android:name=".KeepaliveService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=".watchdog"
            android:enabled="true"
            android:exported="false">
        </service>
        <!-- sync adapter start -->
        <service
            android:name=".AccountSyncAdapter$SyncService"
            android:exported="true"
            android:process=".watchdog">
            <intent-filter>
                <action
                    android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>

        <service
            android:name=".AccountSyncAdapter$AuthenticatorService"
            android:exported="true"
            android:process=".watchdog">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:authorities="com.drinker.provider.sync"
            android:name=".AccountSyncAdapter$DrinkAccountProvider"
            android:exported="false"
            android:process=".watchdog"
            android:syncable="true" />

        <!-- sync adapter end -->
    </application>

</manifest>